<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyProcessService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyProcessService.Properties.Settings>
            <setting name="connectionstring" serializeAs="String">
                <value>Server=192.168.61.1;Database=process_info;Uid=asan;Pwd=asan;</value>
            </setting>
        </MyProcessService.Properties.Settings>
    </applicationSettings>
</configuration>